.App {
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 0;
  color: white;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  display: block;
  object-fit: cover;
}

main {
  padding-top: 30px;
}
